@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}
@mixin gradient($grad-top, $grad-bottom) {
  background-color: $grad-top;
  background: -moz-linear-gradient(top, $grad-top 0, $grad-bottom 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0,$grad-top), color-stop(100%, $grad-bottom));
  background: -webkit-linear-gradient(top, $grad-top 0,$grad-bottom 100%);
  background: -o-linear-gradient(top, $grad-top 0,$grad-bottom 100%);
  background: -ms-linear-gradient(top, $grad-top 0,$grad-bottom 100%);
  background: linear-gradient(to bottom, $grad-top 0,$grad-bottom 100%);
}
@mixin buttons($btn-top-color,$btn-bottom-color) {
  @include gradient($btn-top-color,$btn-bottom-color);
  text-shadow: -1px -1px rgba(0,0,0,0.2);
  border: none;
  color: $white;
  &:hover {
    background-image: none;
    background-color: $btn-bottom-color !important;
  }
  &:active {
    @include gradient($btn-bottom-color,$btn-top-color);
    color: rgba(255,255,255,0.4);
    text-shadow: none;
  }
}